{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Édition de {{ contact.lastname }}, {{ contact.firstname }}{% endblock %}
{% block body %}
    <h1>Édition de {{ contact.lastname }}, {{ contact.firstname }}</h1>
    {{ include('contact/_form.html.twig', {label_submit: "Modifier", form: form}, with_context = false) }}
{% endblock %}